.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: fit-content;
}

.form__control-wrapper {
  margin-bottom: 24px;
}

.form__label {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 12px;
}

.form__input {
  display: block;
  width: 720px;
  height: 40px;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: 2px solid $marine;
  border-radius: 0;

  &:focus {
    outline: none;
  }

  &--textarea {
    resize: none;
    height: initial;
  }
}

.form__button {
  padding: 12px;
  margin-bottom: 12px;
  background-color: $marine;
  color: #ffffff;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  border-radius: 0;
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.9;
  }
}